<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textutils</title>
</head>

<body>
    <h1>mission {{mission}} successful {{name}} &#128521;</h1><br>
    <div>
        <form action="/analyse" id="form" method="get">
            <textarea cols="30" rows="10" name="text" style='margin: 0px; width: 1407px; height: 437px; font-size: 50pt'></textarea><br>
            <input id="punc" type="checkbox" name="removepunc" style="font-size: 15pt" value="on">remove punctuations<br>
            <input id="newline" type="checkbox" name="removenewlines" style="font-size: 15pt">remove new lines<br>
            <input id="ext" type="checkbox" name="removeextraspaces" style="font-size: 15pt">remove extra spaces<br>
            <input type="checkbox" name="noofcharacters" style="font-size: 15pt">count no. of characters<br>
            <input type="checkbox" name="uppercase" style="font-size: 15pt">uppercase<br>
            <button type="submit" id="submit" style="font-size: 15pt">Analyse Text</button>
        </form>
    </div>
</body>


</html>